<%- include('menu.ejs') %>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            <div class="row tm-row">
                <% for(var i=0; i< userlist.length; i++ ){ %>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                                                       
                        </div>
                        <span class="position-absolute tm-new-badge">New</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title"><%= userlist[i].subject%></h2>
                    </a>                    
                    <p class="tm-pt-30">
                        <%= userlist[i].body%>
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                       
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        
                        <span> AdminID:  <%= userlist[i].adminid%> </span>
                    </div>
                </article>
                <%}%>
            </div>            
            <footer class="row tm-row">
                <hr class="col-12">
                
                
            </footer>
        </main>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/templatemo-script.js"></script>
</body>
</html>