<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/assets/accountControlManager/css/acStyle.css">
	<title>Account Controll Manager Home</title>
</head>
<body>
	<%- include('acNavBar') %>
	<div id="workspace">
		<h1 align='center'>Welcome Back</h1>
		<br/>
		<h5><%= uname %></h5>
	</div>
</body>
</html>