<!DOCTYPE html>
<html>
<head>
	<title>Report Generate</title>
	<link rel="stylesheet" href="/assets/accountControlManager/css/acStyle.css">
	<script type="text/javascript" src="/assets/accountControlManager/js/jquery-3.5.1.js"></script>
</head>
<body>
	<%- include('acNavBar') %>
	<div id="workspace">
		<h2 align='center'>Generate User Info</h2>
		<br/>
		<a href="/acReportGenerate/GenerateUserInfo">
			<button type="button">
				Click Here
			</button>
		</a>
		<br/>
		<br/>
		<div id="searchresult">
		</div>
	</div>
</body>
</html>