<!DOCTYPE html>
<html>
<head>
	<title>Inbox</title>
	<link rel="stylesheet" href="/assets/accountControlManager/css/acStyle.css">
	<script type="text/javascript" src="/assets/accountControlManager/js/jquery-3.5.1.js"></script>
</head>
<body>
	<%- include('acNavBar') %>
	<div id="workspace">
		<h2 align='center'>Text From General Users</h2>
		<br/>
		<a href="/acText/TextGU">
			<button type="button">
				Click Here
			</button>
		</a>
		<br/>
		<h2 align='center'>Text From Content Control Manager</h2>
		<br/>
		<a href="/acText/TextCC">
			<button type="button">
				Click Here
			</button>
		</a>
		<br/>
		<div id="searchresult">
		</div>
	</div>
</body>
</html>