<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/generalUser/css/guMenuStyle.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="wrapper">
      <nav id="sidebar">
        <div class="title">
			GetInTouchAIUB
		</div>
		<div class="subtitle">
			General User
		</div>
		<ul class="list-items">
			<li><a href="/userController"><i class="fas fa-home"></i>Home</a></li>
			<li><a href="#"><i class="fas fa-address-card"></i>Profile</a></li>
			<li><a href="#"><i class="fas fa-user-edit"></i>Update Account</a></li>
			<li><a href="#"><i class="fas fa-user-times"></i>Delete Account</a></li>
			<li><a href="#"><i class="fas fa-clipboard"></i>Post New Contents</a></li>
			<li><a href="#"><i class="fas fa-pen-square"></i>Update Existing Post</a></li>
			<li><a href="#"><i class="fas fa-calendar-times"></i>Delete Existing Post</a></li>
			<li><a href="#"><i class="fas fa-search"></i>Search Any Post</a></li>
			<li><a href="#"><i class="fas fa-search"></i>Search Other Account</a></li>
			<li><a href="#"><i class="fas fa-coins"></i>Follow Other Account</a></li>
			<li><a href="#"><i class="fas fa-comment"></i>Comment On Post </a></li>
			
			<li><a href="#"><i class="fas fa-unlock-alt"></i>Requect For Unblock</a></li>
			<li><a href="#"><i class="fas fa-smile"></i>Request to Approving A Content</a></li>
			<li><a href="#"><i class="fas fa-envelope"></i>Send Message</a></li>
			<li><a href="/userController/Received"><i class="fas fa-envelope-open"></i>Receive Message</a></li>
			<li><a href="/userController/Notifications"><i class="fas fa-bell"></i>Notifications</a></li>
			<li><a href="#"><i class="fas fa-plus-circle"></i>Create New Account</a></li>
			<li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
		</ul>
		</nav>
    </div>
</div>
</body>
</html>