<!DOCTYPE html>
<html>
<head>
	<title>Report</title>
	<link rel="stylesheet" href="/assets/generalUser/css/guStyle.css">
</head>
<body>
	<%- include('guMenu') %>
	<div id="workspace">
		<h2 align='center'>Text Report</h2>
		<br/>
		<form method="post">
			<input type="submit" name="submit" value="To Generate Report Click Here">
		</form>
		<br/>
		<br/>
		<div id="searchresult">
		</div>
	</div>
</body>
</html>